<a href="https://colab.research.google.com/github/DoanNguyenNhatLinh/PhanTichDuLieu/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Series
The series is a pandas library object that is used to represent one-dimensional data structures that are similar to arrays but have some additional capabilities. Its underlying structure is straightforward, consisting of two arrays linked together. The main array contains the data (of any NumPy type) to which each element is assigned a label, which is contained within the other array (index)

In [1]:
arr=[12,-4,7,9]
type(arr)
print(arr)

[12, -4, 7, 9]

In [2]:
import pandas as pd 
s=pd.Series(arr)
print(s)

0    12
1    -4
2     7
3     9
dtype: int64

In [3]:
type(s)

pandas.core.series.Series

In [5]:
import pandas as pd
s2=pd.Series([12,-4,7,9], index=['a','b','c','d'])
print(s2)

a    12
b    -4
c     7
d     9
dtype: int64

In [6]:
s2.values

array([12, -4,  7,  9])

In [7]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

DataFrame
In contrast to series, which have an index array containing labels for each element, the dataframe contains two index arrays. The functions of the first index array, which is related with the lines, are quite similar to those of the index array in series. In reality, each label corresponds to all of the values in the row. The second array has a sequence of labels, each of which is connected with a certain column.

A dataframe may alternatively be thought of as a dict of series, with the keys being the column names and the values being the series that will comprise the dataframe's columns. Furthermore, each series' elements are mapped according to an array of labels known as the index.

In [14]:
data={'color':['blue','green','yellow','red','while'],
      'object':['ball','pen', 'pencil','paper','mug'],
      'price':[1.2, 1.0, 0.6, 0.9 ,1.7]}
type(data)
frame=pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   while     mug    1.7

In [15]:
type(frame.color)

pandas.core.series.Series

In [24]:
frame.object

0      ball
1       pen
2    pencil
3     paper
4       mug
Name: object, dtype: object

In [16]:
frame.color

0      blue
1     green
2    yellow
3       red
4     while
Name: color, dtype: object

In [17]:
frame['color']

0      blue
1     green
2    yellow
3       red
4     while
Name: color, dtype: object

In [18]:
type(data)

dict

In [23]:
frame2=pd.DataFrame(data,columns=['oblect','price'])
frame2

  oblect  price
0    NaN    1.2
1    NaN    1.0
2    NaN    0.6
3    NaN    0.9
4    NaN    1.7

In [22]:
frame2['type'] ='normal'
frame2#tạo column mới với giá tri mặc định ban đầu

  oblect  price    type
0    NaN    1.2  normal
1    NaN    1.0  normal
2    NaN    0.6  normal
3    NaN    0.9  normal
4    NaN    1.7  normal

In [25]:
len(frame2)

5

In [26]:
frame2['price'][0]

1.2

Ví dụ 6

In [27]:
for i in range(len(frame2)):
  if frame2['price'][i] > 1.0:
    frame2.loc[i, 'type'] = 'good' #update ith of column type with a new value
frame2

  oblect  price  type
0    NaN    1.2  good
1    NaN    1.0   NaN
2    NaN    0.6   NaN
3    NaN    0.9   NaN
4    NaN    1.7  good

vd7

In [28]:
frame2['discount'] = frame2['price']*0.02
frame2

  oblect  price  type  discount
0    NaN    1.2  good     0.024
1    NaN    1.0   NaN     0.020
2    NaN    0.6   NaN     0.012
3    NaN    0.9   NaN     0.018
4    NaN    1.7  good     0.034